ion-content {
  ion-grid {
   
    background-size: contain; // Ajusta el tamaño para que se contenga en la pantalla
    background-attachment: fixed;
    background-color: #941f34;
    color: #ffffff; // Cambia el color de las letras a blanco
    height: 100%;
  }
  ion-card, ion-input, ion-button, ion-label, p {
    color: #ffffff; // Cambia el color de las letras a blanco
  }
  a[routerLink="/registro"] {
    color: #c3ff7e; // Mantén el color original del enlace "Registro"
  }
}



.imagen {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 25vh; /* Asegura que ocupe el 100% de la altura de la pantalla */
  }
  
  .logo {
    border-radius: 25px;
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  